
img{
    width: 10%;
    object-fit: contain;
}

.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px #e0dcdc;
    background-color: rgb(103, 176, 233);

}

ul{
    display: flex;
}
li{
    color: black;
    list-style: none;
    padding: 1px 15px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
